<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new colaboration request</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>
    <div class="d-flex">
        <div th:replace="fragments/nav">...</div>
        <div class="container-fluid">
            <h2>New Colaboration Request</h2>
            <form action="#" th:action="@{/colaborationRequest/addN}"
                  th:object="${colaborationRequest}" method="post">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dateStart">Date Start</label>
                        <input type="date" class="form-control" id="dateStart" th:field="*{dateStart}" required>
                        <div th:if="${#fields.hasErrors('dateStart')}" th:errors="*{dateStart}" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="emailStudent">Email</label>
                        <input class="form_control" type="text" th:value="${email}" id="emailStudent" name="emailStudent" readonly="readonly"/>
                        <td th:if="${#fields.hasErrors('emailStudent')}" th:errors="*{emailStudent}"  class="invalid-feedback"></td>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dateEnd">Date End</label>
                        <input type="date" class="form-control" id="dateEnd" th:field="*{dateEnd}" required>
                        <div th:if="${#fields.hasErrors('dateStart')}" th:errors="*{dateStart}" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="skillRequested">Skill Requested</label>
                        <select class="form_control" type="number" id="skillRequested" th:field="*{idSkill}">
                            <option th:each="skillType : ${skillTypes}"
                                    th:value="${skillType.id}"
                                    th:text="${skillType.name}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('idSkill')}" th:errors="*{idSkill}" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea th:field="*{description}" class="form-control" id="description" rows="2"></textarea>
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback"></div>
                </div>
                <button type="submit" class="btn btn-primary">Add Colaboration Request</button>
            </form>
        </div>
    </div>
</body>
</html>