<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>List of Students</h1>
<table>
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">isSKP</th>
        <th scope="col">Name</th>
        <th scope="col">Pwd</th>
        <th scope="col">RecivedHours</th>
        <th scope="col">ProvidedHours</th>
        <th scope="col">TelephoneNumber</th>
        <th scope="col">Degree</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row" th:each="student: ${students}">
        <td scope="row" th:text="${student.email}"></td>
        <td scope="row" th:text="${student.isSKP}"></td>
        <td scope="row" th:text="${student.name}"></td>
        <td scope="row" th:text="${student.pwd}"></td>
        <td scope="row" th:text="${student.recivedHours}"></td>
        <td scope="row" th:text="${student.providedHours}"></td>
        <td scope="row" th:text="${student.telephoneNumber}"></td>
        <td scope="row" th:text="${student.degree}"></td>
        <td><a th:href="@{/student/update/{email}(email=${student.email})}"><button type="button" class="btn btn-warning" onclick="">Update</button></a>
        </td>
        <td><a th:href="@{/student/delete/{email}(email=${student.email})}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Add Student</button></a>
</body>
</html>