<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Students</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="d-flex">
    <div th:replace="fragments/nav">...</div>
    <div class="container-fluid">
        <h1>List of Students</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>isSKP</th>
                <th>Name</th>
                <th>Pwd</th>
                <th>RecivedHours</th>
                <th>ProvidedHours</th>
                <th>TelephoneNumber</th>
                <th>Degree</th>
                <th>AbilitationState</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${students}">
                <td th:text="${student.email}"></td>
                <td th:text="${student.isSkp}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.pwd}"></td>
                <td th:text="${student.recivedHours}"></td>
                <td th:text="${student.providedHours}"></td>
                <td th:text="${student.telNumber}"></td>
                <td th:text="${student.degree}"></td>
                <td th:text="${student.abilitationState}"></td>
                <td><a th:href="@{/student/disable/{email}(email=${student.email})}">
                    <button type="button" class="btn btn-danger">Disable</button>
                </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>