<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Students</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>List of Students</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Email</th>
        <th>isSKP</th>
        <th>Name</th>
        <th>Pwd</th>
        <th>RecivedHours</th>
        <th>ProvidedHours</th>
        <th>TelephoneNumber</th>
        <th>Degree</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${students}">
        <td th:text="${student.email}"></td>
        <td th:text="${student.isSkp}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.pwd}"></td>
        <td th:text="${student.recivedHours}"></td>
        <td th:text="${student.providedHours}"></td>
        <td th:text="${student.telNumber}"></td>
        <td th:text="${student.degree}"></td>
        <td><a th:href="@{/student/update/{email}(email=${student.email})}"><button type="button" class="btn btn-warning" onclick="">Update</button></a>
        </td>
        <td><a th:href="@{/student/delete/{email}(email=${student.email})}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add"><button type="button" class="btn btn-success">Add Student</button></a>
</body>
</html>