<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update SkillType</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Update SkillType</h2>
<form action="#" th:action="@{/skillType/update}"
      th:object="${skillType}" method="post">
    <table>
        <tr>
            <td><label>Id</label></td>
            <td><input type="hiden" readonly="readonly" th:field="${skillType.getId()}"></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Level</label></td>
            <td><select class="form_control" type="text" th:field="*{level}">
                <option value="novice">Novice</option>
                <option value="medium">Medium</option>
                <option value="expert">Expert</option>
            </select></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Abilitation State</label></td>
            <td><select class="form_control" type="text" th:field="*{abilitationState}">
                <option value="N">False</option>
                <option value="S">True</option>
            </select></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update SkillType" /></td>
        </tr>


    </table>
</form>
</body>
</html>