<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
     <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link  rel="stylesheet" type="text/css" href="/css/sidebars.css" th:href="@{/css/sidebars.css}"/>
</head>

<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a class="nav-link text-white" href="/" th:href="@{/}"><img src="https://raw.githubusercontent.com/AndreuMonferrerMonferrer/SkillSharing/master/src/main/resources/templates/fragments/skillsharing.png" alt="Skill Sharing" width="150" height="40" /></a><!-- no pilla la imagen :cccc-->
        <a class="nav-link text-white" href="/" th:href="@{/student/list}">Students</a>
        <a class="nav-link text-white" href="/" th:href="@{/colaborationProposal/list}"><span class="fs-4">Col. Proposal</span></a>
        <a class="nav-link text-white" href="/" th:href="@{/colaborationRequest/list}">Col. Request</a>
        <a class="nav-link text-white" href="/" th:href="@{/colaboration/list}">Colaborations</a>
        <a class="nav-link text-white" href="/" th:href="@{/skillType/list}">Skill Types</a>
        <a class="nav-link text-white" href="/" th:href="@{/manageSkills/list}">Manage Skills</a>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"><!--la foto ya pondremos otra-->
                <strong>perfil</strong>
            </a>
        </div>
    </div>

</main>


</html>