<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
     <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sidebars/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link  rel="stylesheet" type="text/css" href="/css/sidebars.css" th:href="@{/css/sidebars.css}"/>

</head>

<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li><img src="https://raw.githubusercontent.com/AndreuMonferrerMonferrer/SkillSharing/master/src/main/resources/templates/fragments/skillsharing.png" alt="Skill Sharing" width="132" height="40" /></a></li>
            <li><a class="nav-link text-white" href="/" th:href="@{/colaboration/listSKP}">List of Colaborations</a></li>
            <li><a class="nav-link text-white" href="/" th:href="@{/colaborationProposal/listSKP}">List of Proposals</a></li>
            <li><a class="nav-link text-white" href="/" th:href="@{/colaborationRequest/listSKP}">List of Requests</a></li>
            <li><a class="nav-link text-white" href="/" th:href="@{/skillType/list}">List of Skills</a></li>
            <li><a class="nav-link text-white" href="/" th:href="@{/skillType/add}">Add new Skill</a></li>
            <li><a class="nav-link text-white" href="/" th:href="@{/student/listTrue}">List of Users</a></li>
            <li><p><a class="nav-link text-white" href="/" th:href="@{/user/profileSKP}">Profile</a></p></li>

        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white">
                <div th:replace="/fragments/loginInfo" >...</div>
            </a>
        </div>
    </div>

</main>


</html>