<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Add new manage skill</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"/>
</head>
<body>
<h2>New Manage Skill</h2>
<form action="#" th:action="@{/manageSkills/add}"
      th:object="${manageSkill}" method="post">
  <table>
    <tr>
      <td><label>Skill Type Id</label></td>
      <td><select class="form_control" type="number" th:field="*{idSkillType}"/>
      <option th:each="idValue : ${idList}"
              th:value="${idValue}"
              th:text="${idValue}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Email</label></td>
      <td><input type="text" th:field="*{email}" /></td>
      <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Add Manage Skill" /></td>
    </tr>
  </table>
</form>
</body>

</html>