<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Skill Sharing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>Skill Sharing index</h1>
<div th:replace="fragments/nav" >...</div>
<div th:replace="/fragments/loginInfo" >...</div>
<ul>
    <li><a href="student/list">Lista Estudiantes</a></li>
    <li><a href="colaborationProposal/list">Lista Colaboration Proposals</a></li>
    <li><a href="colaborationRequest/list">Lista de Colaboration Requests</a></li>
    <li><a href="skillType/list">Lista de Skill Types</a></li>
    <li><a href="manageSkills/list">Lista de ManageSkills</a></li>
    <li><a href="colaboration/list">Lista de colaboration</a></li>
    <li><a href="user/list">Lista de usuarios</a> </li>
</ul>
</body>
</html>
